/* font-family: "Roboto", sans-serif;  
font-family: "Raleway", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.img {
  display: block;
  margin: 0 auto;
}
.second-section img,
.third-section img,
.fourth-section img {
  display: block;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.first-section {
  padding: 188px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/firstsec.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  width: 1440;
  height: 600;
  top: 72px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #2a2a2a;
  background-image: url(/images/firstsec.jpg);
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  flex-direction: column;
  background-position: center center;
}

.page-title {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-top: 188px 0;
  margin-right: 472px 0;
  margin-bottom: 292px 0;
}
.one-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  display: block;
  cursor: pointer;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.one-button:hover,
.one-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.second-section {
  padding: 120px 0;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-list {
  display: flex;
  gap: 24px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.points-text {
  width: calc((100% - 72px) / 4);
}
.points-title {
  text-align: left;
  margin-bottom: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.third-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.third-section .page-title-third {
  margin-bottom: 72px;
}
.page-title-third {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.third-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-page {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-team {
  padding: 0 15px;
}
.team-container {
  padding: 32px 0;
  justify-content: center;
  gap: 24px;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.paragraf-sec {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.page-title-third {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.network-list {
  width: 40px;
  height: 40px;
}
.networkis-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networkis-link:hover,
.networkis-link:focus {
  background-color: #404bbf;
}
.svgimages {
  fill: #f4f4fd;
}

.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fourth-section .page-title-third {
  margin-bottom: 72px;
}
.fourth-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.apps-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.apps-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-hover {
  position: relative;
  overflow: hidden;
}
.portfolio-description {
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
}
.apps-list:hover .portfolio-description {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-page {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.all-content {
  display: flex;
  align-items: baseline;
}
.logop-container {
  margin-right: 120px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 156px;
}
.paragraf-footer {
  width: 264;
  height: 72;
  top: 3296px;
  left: 156px;
  opacity: 1;
  margin-left: 156px;
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.title-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.list-media {
  display: flex;
  gap: 16px;
}
.network-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link:hover,
.network-link:focus {
  background-color: #31d0aa;
}
.svgimages {
  fill: #f4f4fd;
}
.network-list {
  width: 40px;
  height: 40px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modal {
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background-color: #fafafa;
  position: absolute;
  top: 80px;
  left: 516px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  /*
  transform: translate(-50%, -50%);*/
}
.modal-close {
  position: absolute;
  top: 32px;
  left: 368px;
  right: 32px;
  width: 8px;
  height: 8px;
  border: none;
  background-color: transparent;
}
.modal-title {
  text-align: center;
  margin-top: 72px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 16px;
  width: 360px;
  height: 24px;
  top: 152px;
  left: 540px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.modal-input {
  width: 360px;
  height: 40px;
  opacity: 1;
  top: 18px;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(46, 47, 66, 0.15);
  gap: 8px;
  background-color: transparent;
}
